*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
    width: 100%;
    height: 100%;
}

#Ripple{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

#r1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #faf36f;
    animation: r1 3s linear infinite;
}
@keyframes r1 {
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        opacity: 1;
    }
    100%{
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
#r2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #f0a6bd;
    animation: r2 3s linear infinite;
    animation-delay: calc(0.5s);
}
@keyframes r2 {
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        opacity: 1;
    }
    100%{
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
#r3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(156, 198, 215, 0.833);
    animation: r3 3s linear infinite;
    animation-delay: calc(1s);
}
@keyframes r3 {
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        opacity: 1;
    }
    100%{
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
#r4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(242, 85, 176);
    animation: r4 3s linear infinite;
    animation-delay: calc(1.5s);
}
@keyframes r4 {
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        opacity: 1;
    }
    100%{
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
#r5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(41, 132, 76, 0.584);
    animation: r5 3s linear infinite;
    animation-delay: calc(2s);
}
@keyframes r5 {
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        opacity: 1;
    }
    100%{
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
